@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.3.2/css/weather-icons.min.css');

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:Arial, sans-serif;
  font-size: 2em;
  text-shadow: 0 0 10px #000;
  color: #fff;
  background: #888;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p {
  padding: 0 1em;
}

a{
  color: #fff;
}

footer {
  position: absolute;
  bottom: 0;
  font-size: 0.5em;
}

#temperature {
  text-decoration: none;
  border-bottom: 0.05em dotted white;
}

.searchbar,
.button {
	height: 45px;
	margin: 1em 0 1em;
	padding: 0;
	text-transform: uppercase;
	border: none;
}
.searchbar {
	float: left;
	width: 80%;
	border-bottom: solid thin white;
}

.form {
  width: 50%;
  margin: 0 auto;
}

.button {
	float: right;
	width: 20%;
}

@media (min-width: 601px) {

  section {

    min-height: 450px;
  }

  h1 {
      font-size: 2em;
    padding: 0 0.3em;
    line-height: 1em;

  }

  h3,h4 {
    color: white;
    font-family: 'Roboto';
    font-weight: 100;
    line-height: 1.1;
    letter-spacing: 0.025em;
    margin: 0; padding: 0;
  }

  

  .forecast {
    display: table;
    text-transform: uppercase;
    max-width: 100%;
    margin: auto;
  }

  .group {
    max-width: 100%;
    margin-bottom: 20px;
    text-align: center;
    opacity: 0.7;
    clear: both;
  }
  .panel {
    background-color: rgba(0, 0, 0, 0.5);
    width: 75%;
    margin: auto;
  }

  .block {
    display: table-cell;
    padding: 1.5em 0 0 5px;
    text-align: center;
  }
  .high {
    font-weight: 300;
    margin: 0.25em 0;
  }
  .panel-mobile {
    display: none !important;
  }
  
}

@media (max-width: 600px) {
  .panel {
    display: none !important;
  }

  .panel-mobile {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
  }

  .city {
    text-align: center;
    font-size: 0.5em;
  }

  .temp {
    text-align: center;
  }

  #temperature2 {
    font-size: 3em;
    letter-spacing: -10px;
  }

  .forecast {
    display: table;
    text-transform: uppercase;
    max-width: 100%;
    margin: auto;
    font-size: large;
  }

  .block {
    display: table-cell;
    padding: 1.5em 0 0 2px;
    text-align: center;
  }
  .high {
    font-weight: 300;
    margin: 0.25em 0;
  }

}

@media (max-width: 360px) {
  .panel {
    display: none !important;
  }

  .panel-mobile {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
  }

  .city {
    text-align: center;
    font-size: 0.5em;
  }

  .temp {
    text-align: center;
  }

  #temperature2 {
    font-size: 2em;
    letter-spacing: -6px;
  }

  .forecast {
    display: table;
    text-transform: uppercase;
    max-width: 100%;
    margin: auto;
    font-size: x-small;
  }

  .block {
    display: table-cell;
    padding: 1.5em 0 0 2px;
    text-align: center;
  }
  .high {
    font-weight: 300;
    margin: 0.25em 0;
  }

  .detail {
    font-size: large;
  }

}